.nav {
    display:flex;
    max-width: 1250px;
    height: 110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background-color: var(--white);
    padding: 0px 0;
    border-bottom: var(--primary) 3px solid;
    position:sticky;  
} 

.nav__link, .nav__logo {
    height: 60px;
    width: 10px;
    color: var(--primary);
    padding-top: 20px;
}

.nav__logo {
    margin-right: auto;
}

.nav__link {
    padding-right: 120px;
}

.nav__link:not(:first-of-type) {
    margin-left: 60px;
}
=======
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: "Rosario", sans-serif;
    font-weight: 400;

}